APP_NAME="AViCo TVPC"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL="http://localhost"

LOG_CHANNEL=stack

DB_CONNECTION="sqlite"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync
MAIL_DRIVER=log

GEWIS_KEY=

NS_USERNAME=
NS_PASSWORD=
